<div class="container text-center">
  <h1>Bem vindo ao Diário da Humanidade!</h1>
  <h3>Aqui você pode compartilhar suas histórias, situações e o que mais desejar.</h3>

  <div class="ultimos-posts card">
		<div class="content text-center">
			<h3>Últimas Postagens</h3>

			<div class="row">
        <% unless @posts.empty? %>
  				<% @posts.each do |post| %>
  					<div class="col-md-4">
  						<%= render partial: 'posts/post_card',
  										 locals: { post: post } %>
  					</div>
  				<% end %>

          <div class="clearfix"></div>

          <div class="text-center">
            <%= link_to 'Ver todas',  posts_path, class: 'btn btn-raised' %>
          </div>
        <% else %>
          <strong class="text-center">
            Sem Postagens Recentes!
          </strong>
        <% end %>
			</div>
		</div>
  </div>
</div>

