<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="card">
          <div class="header header-primary text-center">
            <h4>Digite seus dados</h4>
          </div>

          <div class="content">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.input :email, required: true, label: 'Email', autofocus: true %>
              <%= f.input :password, required: true, label: 'Senha' %>

              <div class="text-center">
                <%= f.button :submit, "Entrar", class: 'btn-raised', data: { disable_with: 'Entrando ...' } %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
