<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="content">
            <h3>Nova Postagem</h3>

            <%= render partial: 'form' %>
        </div>
      </div>
     </div>
  </div>
</div>
